<template>
  <div>
    <div class="mailer-wrapper">
      <div class="mailer columns">
        <span class="tag is-info">{{ status }}</span>
        <div class="column address-book">
          <div class="tabs">
            <ul>
              <li v-bind:class="{ 'is-active': tab === 'messages' }">
                <a v-on:click="tab = 'messages'">
                  <span>Messages</span>
                </a>
              </li>
              <li v-bind:class="{ 'is-active': tab === 'requests' }">
                <a v-on:click="tab = 'requests'">
                  <span>Requests</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="address-book-header">
            <span class="tag address">{{ contactAddress }}</span>
            <button v-on:click="mailbox.save()">Save</button>
            <button v-on:click="showAddContact = true">New</button>
            <button v-on:click="mailbox.fetchRequests()">Fetch</button>
          </div>
          <div v-if="tab === 'messages'">
            <div class='contact' v-for="c in contacts" v-bind:key="c.ID" v-on:click="contact = c" v-bind:class="{ 'contact-open': contact === c }">
              <div>
                <img class="contact-image">
              </div>
              <div class="contact-info">
                {{c.ID}}
              </div>
              <button v-on:click="onSendRequest(c.ID)">Resend</button>
            </div>
          </div>
          <div v-if="tab === 'requests'">
            <div class='contact' v-for="r in requests" v-bind:key="r.sender+':'+r.recipient" v-on:click="request = r" v-bind:class="{ 'contact-open': request === r }">
              <div>
                <img class="contact-image">
              </div>
              <div class="contact-info">
                {{r.sender+':'+r.recipient}}
              </div>
            </div>
          </div>
        </div>
        <!--TODO Integrate the accepting phase of the request for the tab requests-->
        <div class="column is-three-quarters composer">
          <div class="chat-box" v-if="contact !== null && contact.publicKey !== null && tab === 'messages'">
            <div class="chat">
              <div class="chat-line" v-bind:class="{'inbox': !item.me, 'outbox': item.me}" v-for="(item, index) in contact.messages" :key="index.toString() + item.cid">
                <message :cid="item.cid"></message>
              </div>
            </div>

            <div class="input-field">
              <div class="field  has-addons">
                <div class="control is-expanded">
                  <input v-model="message" class="input" type="text" placeholder="Send a message">
                </div>
                <div class="control">
                  <a class="button is-info" v-on:click="send">Send</a>
                </div>
                <div class="control">
                  <a class="button is-info" v-on:click="contact.syncIPFS()">Sync</a>
                </div>
              </div>
            </div>
          </div>

          <div v-if="contact !== null && contact.publicKey === null && tab === 'messages'" class="contact-pending">
            <div class="card">
              <div class="card-content">
                <div v-if="contact.requestID !== null" class="content">
                  <p>This contact hasn't accepted your request yet.</p>
                  <p>You will only be able to exchange messages after they have replied</p>
                  <button v-on:click="onMock(contact.ID)">Mock</button>
                </div>
                <div v-if="contact.requestID === null" class="content">
                  <p>You haven't sent a request to this contact yet.</p>
                  <button class="button is-success" v-on:click="onAddContact(contact.ID.replace('sol-', ''))"
                          v-bind:class="{'is-loading': addContactLoading}">Start chatting
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div v-if="request !== null  && tab === 'requests'" class="contact-pending">
            <div class="card">
              <div class="card-content">
                  <p>You haven't accepted this contact yet.</p>
                  <p>You will only be able to exchange messages after you reply</p>
                  <button v-on:click="onSendRequest(request.sender)">Accept contact</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal">

    </div>
    <div class="modal" v-bind:class="{'is-active': showAddContact}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <button class="delete" aria-label="close" v-on:click="showAddContact=false"></button>
        </header>
        <section class="modal-card-body">
          <h3 class="title is-5">Add Contact</h3>
          Enter an address (or .sol name) below to start a new chat
          <div class="control">
            <input v-model="contactAddress" class="input" type="text" placeholder="Normal input">
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" v-on:click="onAddContact(contactAddress)"
                  v-bind:class="{'is-loading': addContactLoading}">Start chatting
          </button>
          <span v-if="addContactInfo !== ''" class="tag is-info">{{ addContactInfo }}</span>
        </footer>
      </div>
    </div>
    <div class="modal" v-bind:class="{'is-active': showPasswordRequest}">
      <div class="modal-background"> </div>
      <div class="modal-card">
        <header class="modal-card-head"></header>
        <section class="modal-card-body">
          <h3 style="margin-bottom: 5px" class="title is-5">Enter Password</h3>
          <span class="has-text-danger" v-if="passStatus.slice(0, 9) === 'Incorrect'"> {{passStatus}}</span>
          <span  v-if="passStatus.slice(0, 9) !== 'Incorrect'"> {{passStatus}}</span>
          <span  v-if="passStatus === ''">
            This should be the password you used for your first connection OR your password if this is a first connection.
          </span>
          <div style="margin-top: 15px" class="control">
            <input v-model="password" class="input" type="text" placeholder="Enter your password">
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" v-on:click="initSystem(password)">Validate</button>
          <button class="button is-ghost is-small" v-on:click="forgotPassword()">Forgot password ?</button>
        </footer>
      </div>
    </div>
    <div class="modal"  v-bind:class="{'is-active': showSeed}">
      <div class="modal-background" ></div>
      <div class="modal-card" style="width: 640px;">
        <header class="modal-card-head"></header>
        <section class="modal-card-body">
          <h3 style="margin-bottom: 5px" class="title is-5">Generated seed phrase</h3>
          <span>This is your generated seed phrase for Sol-Mailer. Please take note of it.</span>
          <div class="bold">{{seed}}</div>
        </section>
        <footer  class="modal-card-foot">
          <button class="button is-success" v-on:click="verifySeed()">Continue</button>
        </footer>
      </div>
    </div>
    <div class="modal" v-bind:class="{'is-active': showVerifySeed}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head"></header>
        <section class="modal-card-body">
          <h3 style="margin-bottom: 5px" class="title is-5">Enter seed phrase</h3>
          <span class="has-text-danger" v-if="seedStatus !== ''"> {{seedStatus}}</span>
          <span v-if="seedStatus === ''">
            Enter the seed phrase shown on previous page.
          </span>
          <div style="margin-top: 15px" class="control">
            <input v-model="inputSeed" class="input" type="text" placeholder="Enter your seed">
          </div>
        </section>
        <footer class="verify-seed-footer modal-card-foot">
          <button class="button is-success is-light" v-on:click="showSeed=true;showVerifySeed=false">Previous</button>
          <button class="button is-success" v-on:click="checkSeed(inputSeed)">Validate</button>
        </footer>
      </div>
    </div>
    <div class="modal" v-bind:class="{'is-active': showReloadFromSeed}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head"></header>
        <section class="modal-card-body">
          <h3 style="margin-bottom: 5px" class="title is-5">Enter seed phrase</h3>
          <span class="has-text-danger" v-if="reloadSeedStatus !== ''"> {{reloadSeedStatus}}</span>
          <span style="padding-bottom: 10px" v-if="reloadSeedStatus === ''">
            Enter your seed phrase to reload your sol-mailer account.
          </span>
          <div style="margin-top: 15px" class="control">
            <input v-model="reloadedSeed" class="input" type="text" placeholder="Enter your seed">
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" v-on:click="reloadSeed(reloadedSeed)">Validate</button>
          <button class="button is-ghost is-small" v-on:click="showConfirmReset=true;showReloadFromSeed=false">Forgot Seed ?</button>
        </footer>
      </div>
    </div>
    <div class="modal" v-bind:class="{'is-active': showConfirmReset}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head"></header>
        <section class="modal-card-body">
          <h3 style="margin-bottom: 5px" class="title is-5">Resetting account</h3>
              By clicking the below button, you confirm you want to reset your account and lose all current
              chats.
        </section>
        <footer class="reset-seed-footer modal-card-foot">
          <button class="button is-success" v-on:click="resetSeed();showConfirmReset=false">Reset Account</button>
        </footer>
      </div>
    </div>
    <div class="modal" v-bind:class="{'is-active': resetSuccess}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head"></header>
        <section class="modal-card-body">
          <h3 style="margin-bottom: 5px" class="title is-5">Reset Successful</h3>
          Reset was successful, please register again using the next page.
        </section>
        <footer class="reset-seed-footer modal-card-foot">
        </footer>
      </div>
    </div>
  </div>
</template>

<script>

import {MailBox} from '../utils/mail'
import {SolanaHandler} from '../utils/solana'
import Message from '../components/message'

const {PhantomWalletAdapter} = require('@solana/wallet-adapter-wallets')
const SOL_URL = "sol-mailer.xyz/"

export default {
  name: 'Home',
  components: {Message},
  data: () => ({
    contactAddress: 'DGNigegNjXPRi71iJgBbi6BgSCkKMMHcqV8MUT4WR8o7',
    message: '',
    contacts: [],
    requests: [],
    contact: null,
    request: null,
    ipfs: null,
    mailbox: null,
    handler: null,
    online: false,
    showAddContact: false,
    showPasswordRequest: false,
    password: '',
    passStatus: '',
    showSeed: false,
    seed:'',
    status: '',
    showVerifySeed: false,
    inputSeed: '',
    seedStatus:'',
    showReloadFromSeed: false,
    reloadSeedStatus: '',
    reloadedSeed: '',
    showConfirmReset: false,
    resetSuccess:false,
    addContactLoading: false,
    addContactInfo: '',
    tab: 'messages',
  }),
  methods: {
    send () {
      if (this.contact && this.message !== '') {
        this.contact.send(this.message).then((res, err) => {
          console.log(res, err)
          // TODO mark the message as sent on success
        })
        this.message = ''
      }
    },
    async onAddContact (address) {
      let contact = this.mailbox.addContactRequest('sol-' + address)
      if (contact.requestID !== null) {
        this.showAddContact = false
        return
      }
      this.contacts = this.mailbox.getContacts()
      this.addContactLoading = true
      this.addContactInfo = 'Loading wallet...'
      try {
        // Create a transaction to the sender
        this.addContactInfo = 'Creating contact request transaction...'
        let url = SOL_URL + Buffer.from(this.mailbox.publicKey).toString('base64')
        let tx = await this.mailbox.connector.contactRequest(address, url)
        // Transaction
        console.log(tx)
        contact.setRequestID(tx)
        this.addContactLoading = false
        this.showAddContact = false
        this.addContactInfo = ''
      } catch (err) {
        console.log(err)
        this.addContactLoading = false
        this.addContactInfo = ''
      }
    },
    async onSendRequest (ID) {
      ID = ID.split(":")[1]
      let contact = this.mailbox.addContactRequest(ID)
      this.addContactLoading = true
      this.addContactInfo = 'Loading wallet...'
      try {
        // Create a transaction to the sender
        this.addContactInfo = 'Creating contact request transaction...'
        let url = SOL_URL + Buffer.from(this.mailbox.publicKey).toString('base64')
        let tx = await this.mailbox.connector.contactRequest(ID.slice(4), url)
        // Transaction
        console.log(tx)
        contact.setRequestID(tx)
        this.addContactLoading = false
        this.showAddContact = false
        this.addContactInfo = ''
        this.contacts = this.mailbox.getContacts()
        this.requests = this.mailbox.getRequests()
      } catch (err) {
        console.log(err)
        this.addContactLoading = false
        this.addContactInfo = ''
      }
    },
    onMock(ID) {
      this.mailbox.addContact(ID, null)
    },
    async onAcceptContactRequest(ID) {
      await this.mailbox.acceptContactRequest(ID)
      this.contacts = this.mailbox.getContacts()
      this.requests = this.mailbox.getRequests()
    },
    async getAdapter () {
      const adapter = new PhantomWalletAdapter()
      await adapter.connect()
      return adapter
    },
    verifySeed(){
      this.showSeed = false
      this.showVerifySeed = true
    },
    checkSeed(inputSeed) {
      if (inputSeed !== this.mailbox.seed) {
        this.seedStatus = 'Incorrect seed input, try again'
      } else {
        this.showVerifySeed = false
      }
    },
    forgotPassword() {
      this.showPasswordRequest = false
      this.showReloadFromSeed = true
    },
    reloadSeed(inputSeed) {
      let words = inputSeed.split(" ")
      if (words.length !== 12) {
        this.reloadSeedStatus = 'Incorrect seed length, should be 12 words'
      } else {
        this.seed = inputSeed
        this.showPasswordRequest = true
        this.passStatus = 'Enter a new password'
        this.showReloadFromSeed = false
      }
    },
    async resetSeed() {
      window.localStorage.clear()
      this.resetSuccess = true
      await new Promise(r => setTimeout(r, 3000));
      this.resetSuccess = false
      this.showPasswordRequest = true
    },
    async getMails () {

    },
    async initSystem (password) {
      console.log("INIT SYSTEM")
      try {
        this.showPasswordRequest = false
        let mailbox = new MailBox('sol-' + this.handler.getWallet().publicKey.toBase58(), this.handler, this.$ipfs, window.localStorage, password, this.seed)
        let [isOldSeed, seed] = await mailbox.load()
        if (!isOldSeed) {
          this.showSeed = true
          this.seed = seed
        }
        this.mailbox = mailbox
        // Add mock contact
        this.contacts = this.mailbox.getContacts()
        this.requests = this.mailbox.getRequests()
        await this.mailbox.fetchRequests()
        this.contacts = this.mailbox.getContacts()
        this.requests = this.mailbox.getRequests()
      } catch (err) {
        if (err.name === 'IncorrectPasswordError') {
          this.showPasswordRequest = true
          this.passStatus = 'Incorrect password, please try again'
        }
        console.log(err)
        // Set error status text.
      }
    },
    async initialize() {
      try {
        // Await for ipfs node instance.

        this.online = this.$ipfs.isOnline()
        await new Promise(r => setTimeout(r, 1000));
        let adapter = await this.getAdapter()
        console.log(adapter.publicKey)
        let handler = new SolanaHandler(adapter)
        this.handler = handler
        this.showPasswordRequest = true
      } catch (err) {
        this.status = `Error: $(err)`
      }
    }
  },
  watch: {
    mailbox: function () {
      console.log('mailbox loaded', this.mailbox.address)
    }
  },
  mounted () {
    this.initialize()
  }
}
</script>

<style scoped>
.mailer-wrapper {
  height: 100vh;
  max-height: 100vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: center;
}

.mailer {
  justify-content: center;
  width: 100%;
}

.address {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address-book {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(222, 226, 230);
  background-color: white;
  width: 370px;
  max-width: 370px;
  padding: 0;
}

.composer {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0;
  border-color: rgb(222, 226, 230);
  background-color: #f6f6f6;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.contact {
  display: flex;
  padding: 10px;
}

.contact-address {
  text-overflow: ellipsis;
}

.contact-info {
  overflow: hidden;
}

.contact-image {
  min-width: 50px;
  min-height: 50px;
  clear: both;
}

.contact-open {
  background-color: rgb(240, 240, 240);
}

.contact-pending {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgb(222, 226, 230);
  background-color: white;
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.inbox {
  max-width: 80%;
  align-self: flex-start;
}

.outbox {
  max-width: 80%;
  align-self: flex-end;
}

.input-field {
  height: 60px;
  padding: 10px;
}

.columns:last-child {
  margin-bottom: 0 !important;
}

.modal-card {
  width: 500px;
}

.modal-card-head {
  padding: 20px 20px 0px 0px !important;
  border: 0 !important;
  background-color: white !important;
  justify-content: flex-end !important;
}

.modal-card-body {
  padding-top: 0 !important;
}

.modal-card-foot {
  #border: 0 !important;
  #padding-top: 0 !important;
  #background-color: white !important;
  #justify-content: center !important;
}

.content h2 {
  margin-bottom: 0;
  color: black !important;
}

.code-tabs ul {
  margin-left: 0;
}

.bold {
  font-weight:bold;
}


.verify-seed-footer{
  display: flex;
  justify-content: space-between;
}

.reset-seed-footer{
  display: flex;
  justify-content: center;
}

</style>

