<template>
  <div class = "presentation columns">
    <div class="column">
    </div>
    <div class="column">
      <div class="footer-content">
        <p>© Copyright 2021</p>
      </div>
    </div>
    <div class="column">
      <h3 class="title footer-title is-5">Contact</h3>
      <div class="footer-content">

      </div>
    </div>
    <div class="column">
    </div>
  </div>
</template>

<script>
export default {
  name: 'AFooter'
}
</script>

<style>
  .footer-title {
    color: black;
  }

  .footer-content {
    font-size: 12px;
  }

</style>
