<template>
  <div class="message" v-bind:class="{ 'is-loading': content === null, 'is-error': error }">
    {{ content }}
  </div>
</template>

<script>
export default {
  name: 'message',
  components: {},
  props: ['cid'],
  data: () => ({
    content: null,
    error: false,
  }),
  methods: {
    async load () {
      if (this.content !== null) {
        return
      }
      try {
        for await (const msg of this.$ipfs.cat(this.cid, {timeout: 1000})) {
          let b = Buffer.from(msg)
          //console.log(b)
          this.content = b.toString()
        }
      } catch (err) {
        this.content = 'Unable to fetch message'
        this.error = true
      }
    }
  },
  mounted () {
    this.load()
  }
}
</script>

<style lang="scss">
@import "~bulma/sass/utilities/mixins";

.footer-title {
  color: black;
}

.footer-content {
  font-size: 12px;
}

.message {
  background-color: #F6F6F6;
  min-width: 100px;
  margin: 10px;
  padding: 10px;

  &.is-loading {
    &:after {
      @include loader;
      position: relative;
      top: calc(50% - 0.5em);
      left: calc(50% - 0.5em);
      width: 1em;
      height: 1em;
    }
  }

  &.is-error {
    color: red;
  }
}

</style>
