<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style scoped>
  #app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: black;
  }

  body {
    background-color: #fff7f2;
    background:
      -moz-radial-gradient(#544d48 5%, transparent 5%),
      -moz-radial-gradient(#544d48 5%, transparent 5%),
      #fff7f2;
    background:
      -webkit-radial-gradient(#bfb8b2 5%, transparent 5%),
      -webkit-radial-gradient(#bfb8b2 5%, transparent 5%),
      #fff7f2;

    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;
  }
</style>
